In [1]:
import pandas as pd
import os
import requests
from dateutil.relativedelta import relativedelta

# Testing wrangling index constituints data

## Wrangling tickers from data source

In [2]:
url = f"https://raw.githubusercontent.com/igor17400/IBOV-HCI/main/historic_composition/2003_1Q.csv"
tickers = pd.read_csv(url)["symbol"].to_list()
tickers

['AMBV4',
 'ARCZ6',
 'BBDC4',
 'BBAS3',
 'BRTP3',
 'BRTP4',
 'BRTO4',
 'CMIG4',
 'CESP4',
 'CPLE6',
 'CRTP5',
 'ELET3',
 'ELET6',
 'ELPL4',
 'EMBR3',
 'EMBR4',
 'EBTP3',
 'EBTP4',
 'GGBR4',
 'ITSA4',
 'ITAU4',
 'PETR3',
 'PETR4',
 'SBSP3',
 'CSNA3',
 'CSTB4',
 'CRUZ3',
 'VCPA4',
 'TCOC4',
 'TNEP4',
 'TNLP3',
 'TNLP4',
 'TMAR5',
 'TMCP4',
 'TLPP4',
 'TSPP4',
 'TCSL4',
 'TRPL4',
 'USIM5',
 'VALE3',
 'VALE5']

## Creating functions to wrangle raw data

In [2]:
def yfinance_wrangle(ticker):
    return pd.read_csv(f"C:/Users/rafae/Desktop/momentum/momentum_studies/data/raw_data/{ticker}.csv", index_col=0, parse_dates=[0])[["Adj Close"]]

def fundamentus_wrangle(ticker):
    return pd.read_csv(f"C:/Users/rafae/Desktop/momentum/momentum_studies/data/raw_data_fund/{ticker}.csv", index_col=0, parse_dates=[0])["Adj Close"]

## Considering tickers updates along time

In [3]:
tickers_changes = {
    "AMBV4": "ABEV3",
    "ITAU4": "ITUB4",
    "NATU3": "NTCO3",
    "BVMF3": "B3SA3",
    "TIMP3": "TIMS3",
    "ESTC3": "YDUQ3",
    "KROT3": "COGN3",
    "RUMO3": "RAIL3",
    "BRDT3": "VBBR3",
    "VVAR3": "VIIA3",
    "DTEX3": "DXCO3",
    "ECOD3": "TESA3",
    "HRTP3": "PRIO3",
    "LLXL3": "PRML3",
    "TBLE3": "EGIE3",
    "TLPP4": "VIVT3"
}

## Creating dataframe for an specific quarter index composition

In [5]:
# defining raw data directories
yfinance_directory = os.fsencode("data/raw_data/")
yfinance_directory_tickers = [ str(x).replace("b'", "").replace(".csv'", "") for x in os.listdir(yfinance_directory) ]
fundamentus_directory = os.fsencode("data/raw_data_fund/")
fundamentus_directory_tickers = [ str(x).replace("b'", "").replace(".csv'", "") for x in os.listdir(fundamentus_directory) ]

# creating empty dataframe and missing data list
df = pd.DataFrame()
missing = []
# loop trough tickers list
for ticker in tickers:
    # wrangling data from yfinance raw data directory
    if ticker in yfinance_directory_tickers:
        df[ticker] = yfinance_wrangle(ticker)
    # wrangling data from fundamentus raw data directory
    elif ticker in fundamentus_directory_tickers:
        df[ticker] = fundamentus_wrangle(ticker)
    else:
        # condisering possible ticker update
        try:
            df[tickers_changes[ticker]] = yfinance_wrangle(tickers_changes[ticker])
        # ultimately adding missing data to a list
        except:
            missing.append(ticker)

In [6]:
df["2002-06-30":"2003-04-30"]

,AMBV4,ARCZ6,BBDC4,BBAS3,BRTP3,BRTP4,CMIG4,CESP4,CPLE6,CRTP5,...,TNLP4,TMAR5,TMCP4,VIVT3,TSPP4,TCSL4,TRPL4,USIM5,VALE3,VALE5
2002-07-01,5.58,4.20,1.004,1.212656,11.84,NaN,2831.501465,10.46,0.513,32.39,...,13.33,23.27,22.55,8.053576,7.61,2.52,2365.137939,1.078239,3.183257,3.69
2002-07-02,5.64,4.21,0.984,1.239731,11.34,NaN,2814.497559,10.27,0.501,32.47,...,13.08,22.81,21.95,7.924203,7.72,2.64,2404.426514,1.121106,3.178785,3.65
2002-07-03,5.60,4.14,0.977,1.219781,11.53,11.23,2773.332520,9.88,0.494,31.34,...,12.92,22.42,21.62,7.859516,7.58,2.52,2435.856445,1.088131,3.191387,3.69
2002-07-04,5.62,4.10,0.984,1.231181,11.34,11.23,2746.484863,9.80,0.500,31.74,...,12.92,22.81,21.20,7.794828,7.38,2.46,2416.213135,1.089780,3.179192,3.68
2002-07-05,5.56,4.17,0.963,1.214081,11.38,11.15,2657.888184,9.78,0.501,31.41,...,12.87,22.52,20.95,7.730139,7.29,2.46,2317.992188,1.084834,3.191387,3.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003-04-24,7.45,5.06,1.168,1.751298,12.62,14.07,2586.294922,8.92,0.415,28.42,...,14.99,21.14,21.95,7.956548,9.41,2.09,2455.501221,1.772335,3.288960,4.30
2003-04-25,7.56,4.98,1.141,1.749873,12.84,14.23,2603.299072,8.97,0.412,29.10,...,14.92,21.11,21.95,7.956548,9.43,2.09,2514.432861,1.755849,3.309286,4.35
2003-04-28,7.65,4.90,1.182,1.809721,13.38,14.60,2697.264648,9.26,0.419,29.70,...,15.63,21.79,22.37,8.085920,9.60,2.10,2459.429932,1.805309,3.329613,4.34
2003-04-29,7.71,4.84,1.168,1.923719,13.88,15.10,2747.378906,9.35,0.426,30.71,...,16.19,22.78,22.79,8.409356,9.80,2.14,2569.435791,1.821796,3.292618,4.35
2003-04-30,7.73,4.77,1.141,1.809721,13.38,15.10,2756.328613,9.12,0.421,30.29,...,15.73,23.01,22.79,8.474046,9.31,2.17,2467.287842,1.767390,3.333273,4.28

In [7]:
df["2002-06-30":"2003-04-30"].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 207 entries, 2002-07-01 to 2003-04-30
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AMBV4   207 non-null    float64
 1   ARCZ6   207 non-null    float64
 2   BBDC4   207 non-null    float64
 3   BBAS3   207 non-null    float64
 4   BRTP3   207 non-null    float64
 5   BRTP4   205 non-null    float64
 6   CMIG4   207 non-null    float64
 7   CESP4   207 non-null    float64
 8   CPLE6   207 non-null    float64
 9   CRTP5   207 non-null    float64
 10  ELET3   207 non-null    float64
 11  ELET6   207 non-null    float64
 12  ELPL4   207 non-null    float64
 13  EMBR3   207 non-null    float64
 14  EMBR4   207 non-null    float64
 15  EBTP3   207 non-null    float64
 16  EBTP4   207 non-null    float64
 17  GGBR4   207 non-null    float64
 18  ITSA4   207 non-null    float64
 19  ITUB4   207 non-null    float64
 20  PETR3   207 non-null    float64
 21  PETR4   207 non-null    float64
 22  SBSP3   207 non-null    float64
 23  CSNA3   207 non-null    float64
 24  CSTB4   207 non-null    float64
 25  CRUZ3   207 non-null    float64
 26  VCPA4   207 non-null    float64
 27  TCOC4   207 non-null    float64
 28  TNEP4   207 non-null    float64
 29  TNLP3   207 non-null    float64
 30  TNLP4   207 non-null    float64
 31  TMAR5   207 non-null    float64
 32  TMCP4   207 non-null    float64
 33  VIVT3   207 non-null    float64
 34  TSPP4   207 non-null    float64
 35  TCSL4   207 non-null    float64
 36  TRPL4   207 non-null    float64
 37  USIM5   207 non-null    float64
 38  VALE3   207 non-null    float64
 39  VALE5   207 non-null    float64
dtypes: float64(40)
memory usage: 66.3 KB

In [8]:
missing

['BRTO4']

Only one ticker missing data, every other data wrangled sucessfully.

# Creating dataframes for each quarter index composition

In [4]:
# defining yfinance and fundamentus raw data directories
yfinance_directory = os.fsencode("C:/Users/rafae/Desktop/momentum/momentum_studies/data/raw_data")
yfinance_directory_tickers = [ str(x).replace("b'", "").replace(".csv'", "") for x in os.listdir(yfinance_directory) ]
fundamentus_directory = os.fsencode("C:/Users/rafae/Desktop/momentum/momentum_studies/data/raw_data_fund")
fundamentus_directory_tickers = [ str(x).replace("b'", "").replace(".csv'", "") for x in os.listdir(fundamentus_directory) ]

In [5]:
# defining function to wrangle raw data
def wrangle_data(tickers, start_date, end_date, source_data_1, source_data_2):
    # creating empty dataframe and missing data list
    df = pd.DataFrame()
    missing = []
    # loop trough tickers list 
    for ticker in tickers:
        # wrangle yfinance source data
        if ticker in source_data_1:
            df[ticker] = yfinance_wrangle(ticker)
        # wrangle fundamentus source data
        elif ticker in source_data_2:
            df[ticker] = fundamentus_wrangle(ticker)
        else:
            # considering tickers updates for missing data
            try:
                df[tickers_changes[ticker]] = yfinance_wrangle(tickers_changes[ticker])
            # ultimately, saving missing data ticker
            except:
                missing.append(ticker)
    
    return df[start_date : end_date], missing

## Looping for each quarter index composition

In [6]:
# defining dictionary to consider each quarter end date (month/day)
quarters_end = {
    1: "04-30",
    2: "08-31",
    3: "12-31"
}

In [11]:
#loop to scrap Ibovespa (brazilian index) constituints for each quarter
df = pd.DataFrame()
missing_tickers = []
for year in range(2003, 2021):
  for quarter in range(1, 4): 
    url = f"https://raw.githubusercontent.com/igor17400/IBOV-HCI/main/historic_composition/{year}_{quarter}Q.csv"
    tickers = pd.read_csv(url)["symbol"].to_list()
    if tickers[0] == "ALLL11":
      tickers[0], tickers[-1] = tickers[-1], tickers[0]
    end_date = (pd.to_datetime(str(year) + "-" + str(quarters_end[quarter])))
    start_date = end_date - relativedelta(months=10)
    df, missed = wrangle_data(tickers, start_date, end_date, yfinance_directory_tickers, fundamentus_directory_tickers)
    if missed not in missing_tickers:
      missing_tickers.append(missed)
    df.to_csv(f"C:/Users/rafae/Desktop/momentum/momentum_studies/data/clean_data/{quarter}Q{year}.csv")

In [29]:
#printing mising tickers
missing_tickers

[['BRTO4'],
 ['BRTO4', 'CLSC6'],
 ['BRTO4', 'CLSC6', 'PRGA3'],
 ['BRTO4', 'CLSC6', 'PRGA3', 'TCSL3'],
 ['BTOW3', 'BRTO4', 'CLSC6', 'ELPL6', 'PRGA3', 'SUZB5', 'TCSL3'],
 ['BTOW3', 'BRTO4', 'ELPL6', 'PRGA3', 'SUZB5', 'TCSL3'],
 ['BTOW3', 'BRTO4', 'ELPL6', 'PRGA3', 'SUZB5'],
 ['BTOW3', 'BRTO4', 'ELPL6', 'PRGA3'],
 ['BTOW3', 'ELPL6', 'PRGA3'],
 ['BTOW3', 'ELPL6', 'PRGA3', 'VCPA3'],
 ['BTOW3', 'ELPL6'],
 ['BTOW3', 'ECOD3', 'ELPL6'],
 ['BTOW3', 'ECOD3'],
 ['BTOW3', 'ECOD3', 'TCSL3'],
 ['BTOW3'],
 ['BTOW3', 'SUZB5'],
 ['SUZB5'],
 []]